.banner {
  display: flex;
  width: 100vw;
  min-height: 765px;
  background: url('../img/bg.png') no-repeat center / cover;

  &__text-wrapper {
    width: 615px;
    margin-left: calc((100vw - #{$screen-lg}) / 2);
    padding: 257px 0 0 $padding-lg;
  }

  &__title {
    margin-bottom: 25px;
    font-family: $ff-montserrat;
    font-size: 50px;
    font-weight: 600;
    color: $white-color;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 30px;
    color: $white-color;
  }

  &__read-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 50px;
    border: 2px solid $white-color;
    font-family: $ff-montserrat;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;

    &:visited {
      color: $white-color;
    }

    &:hover {
      position: relative;

      &::before {
        @include pseudo();
        left: calc((100% - 128px) / 2);
        bottom: 9px;
        width: 128px;
        height: 2px;
        background-color: $white-color;
        animation: zoomIn 0.3s linear;
      }
    }
  }

  &__img {
    width: 560px;
    height: 578px;
    margin: 49px 0 0 30px;
    object-fit: contain;
  }
}
