.main-nav {
  display: flex;
  flex-direction: row;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 46px;
    list-style: none;
  }

  &__item {
    display: flex;
    position: relative;
    font-family: $ff-montserrat;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    color: $gray-medium;

    &:not(:last-of-type) {

      &::before {
        @include pseudo();
        top: 50%;
        right: -24px;
        width: 2px;
        height: 16px;
        background-color: $gray-medium;
        transform: translateY(-50%);
      }
    }
  }

  &__link {
    display: inline-flex;
    text-decoration: none;
    transition: color 0.25s ease-in;
    color: $gray-medium;

    &::selection {
      background-color: $transparent-color;
    }

    &:visited {
      color: $gray-medium;
    }

    &:hover {
      color: $main-color;
    }
  }
}
