.progress-steps {
  display: flex;
  width: 1170px;
  min-height: 403px;
  margin: 0 auto 70px;
  background-color: $white-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);

  &__list {
    display: flex;
    margin: 0 auto;
    list-style: none;
    counter-reset: item;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: relative;
    width: calc(100% / 3);
    height: max-content;
    margin: 210px 0 53px;
    padding: 0 57px;
    counter-increment: item;

    &::before {
      @include pseudo(block, absolute, counter(item));
      bottom: calc(100% + 37px);
      left: 57px;
      font-size: 120px;
      font-weight: 900;
      line-height: 1em;
    }

    &::after {
      @include pseudo();
    }

    &:nth-of-type(1) {

      &::after {
        @include sprite($create);
        bottom: calc(100% + 65px);
        left: 135px;
      }
    }

    &:nth-of-type(2) {

      &::after {
        @include sprite($name);
        bottom: calc(100% + 55px);
        left: 145px;
      }
    }

    &:nth-of-type(3) {

      &::after {
        @include sprite($fame);
        bottom: calc(100% + 65px);
        left: 145px;
      }
    }

    &:not(:last-of-type) {
      border-right: 2px solid $gray-light;
    }
  }

  &__item-subhead {
    margin: 12px 0 22px;
    font-family: $ff-montserrat;
    font-size: 45px;
    font-weight: 900;
  }

  &__item-text {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.5em;
  }
}
