$main-color:          #ef2f35;
$warning-color:       #fdc05d;

$white-color:         #ffffff;

$gray-light:          #eaeaea;
$gray-dark:           #282828;

$text-color:          $gray-dark;

$font-family:         'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
$ff-roboto:           $font-family;
$ff-montserrat:       'Montserrat', 'Arial', 'Helvetica Neue', sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;

$padding-lg:          15px;
